Repository ncc-erp/ncc-erp-crm: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-be.yml, azure-pipelines-fe.yml

azure-pipelines-be.yml:

# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  branches:
    include:
      - dev
      - stg
  paths:
    include:
      - aspnet-core
      - azure-pipelines-be.yml

pool:
  name: 'ERP_DEV'

jobs:
  - job: DotnetBuild
    steps: 
    - script: |
        export PATH=$PATH:/opt/dotnet2/
        cd aspnet-core/src/CRM.Migrator/
        dotnet2 publish -c Release
      displayName: 'Dotnet Publish Migrator'

    - script: |
        cd aspnet-core/src/CRM.Migrator/bin/Release/netcoreapp2.2/publish/
        zip -r backend_migrator.zip *
      displayName: 'Compress Publish Migrator'

    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: 'aspnet-core/src/CRM.Migrator/bin/Release/netcoreapp2.2/publish/backend_migrator.zip'
        ArtifactName: 'backend-migrator'
        publishLocation: 'Container'
      displayName: 'Publish Artifacts Migrator'

    - script: |
        export PATH=$PATH:/opt/dotnet2/
        cd aspnet-core
        dotnet2 publish -c Release
      displayName: 'Dotnet Release Host'
    
    - script: |
        cd aspnet-core/src/CRM.Web.Host/bin/Release/netcoreapp2.2/publish/
        zip -r backend_publish.zip *
      displayName: 'Compress Release Host'

    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: 'aspnet-core/src/CRM.Web.Host/bin/Release/netcoreapp2.2/publish/backend_publish.zip'
        ArtifactName: 'backend'
        publishLocation: 'Container'
      displayName: 'Publish Artifacts Host'

azure-pipelines-fe.yml:

# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  branches:
    include:
      - dev
      - stg

  paths:
    include:
      - vue
      - azure-pipelines-fe.yml

pool:
  name: 'ERP_DEV'

jobs:
  - job: VueBuild
    steps:

      - script: |
          cd vue/
          export NVM_DIR="$HOME/.nvm" && . "$NVM_DIR/nvm.sh"
          [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
          [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"
          nvm use 14.17.6
          node -v
          echo "=== INSTALL PACKAGE ==="
          npm install
        displayName: 'Install Package'
      
      - script: |
          cd vue/
          export NVM_DIR="$HOME/.nvm" && . "$NVM_DIR/nvm.sh"
          [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
          [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"
          nvm use 14.17.6          
          npm run build --prod
        displayName: 'Build Frontend'
      
      - script: |
          cd vue/dist/
          zip -r frontend_publish.zip *
        displayName: 'Compress Build FE'
        
      - task: PublishBuildArtifacts@1
        inputs:
          PathtoPublish: 'vue/dist/frontend_publish.zip'
          ArtifactName: 'frontend'
          publishLocation: 'Container'
        displayName: 'Publish Artifacts Frontend'

Update Fire CI/CD BE
  .github/workflows/deploy_server_dev_be.yml
Due: none

fix CI/CD BE
  .github/workflows/deploy_server_dev_be.yml
Due: none

Update CI/CD
  .github/workflows/deploy_server_dev_be.yml
  .github/workflows/deploy_server_dev_fe.yml
Due: none

update readme
  README.md
  _screenshots/dash_board_page.PNG
  _screenshots/deal_detail_page.PNG
  _screenshots/deal_page.PNG
  _screenshots/install_angular.PNG
  _screenshots/login_form.PNG
  _screenshots/npm_install.png
  _screenshots/npm_install_legacy.png
  _screenshots/npm_run_serve.PNG
  _screenshots/open_fe.PNG
  _screenshots/run_success.PNG
  _screenshots/update_role_detail.PNG
  _screenshots/update_role_permission.PNG
  _screenshots/update_user_detail.PNG
  _screenshots/user_management.PNG
Due: none

Bug 41027 - CRM> Task: unable to filter task with date
  aspnet-core/src/CRM.Application/APIAssignments/Assignments/AssignmentAppService.cs
  aspnet-core/src/CRM.Core/Uitls/CommonUtils.cs
  vue/src/views/task/components/listTask.vue
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

Back to previous condition logic
  aspnet-core/src/CRM.Application/APIAssignments/Assignments/AssignmentAppService.cs
Due: azure-pipelines-be.yml

Revert "Crm/bug/41027"
  aspnet-core/src/CRM.Application/APIAssignments/Assignments/AssignmentAppService.cs
  aspnet-core/src/CRM.Core/Uitls/CommonUtils.cs
  vue/src/views/task/components/listTask.vue
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

Fix bug 41027 - Filter date
  aspnet-core/src/CRM.Application/APIAssignments/Assignments/AssignmentAppService.cs
  aspnet-core/src/CRM.Core/Uitls/CommonUtils.cs
  vue/src/views/task/components/listTask.vue
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

update ci/cd dev
  .github/workflows/deploy_server_dev_be.yml
  .github/workflows/deploy_server_dev_fe.yml
Due: none

fix ci/cd be
  .github/workflows/deploy_server_dev_be.yml
Due: none

update ci/cd fe-be dev
  .github/workflows/deploy_server_dev_be.yml
  .github/workflows/deploy_server_dev_fe.yml
  aspnet-core/appsettings_exp.json
  vue/env-config_exp.js
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

update file ci/cd stg fe-be
  .github/workflows/deploy_server_stg_be.yml
  .github/workflows/deploy_server_stg_fe.yml
Due: none

create Permission OnlyView getAllPageByPermisson
  aspnet-core/src/CRM.Application/APIAssignments/Assignments/AssignmentAppService.cs
  aspnet-core/src/CRM.Application/CampaignContacts/CampaignContactAppService.cs
  aspnet-core/src/CRM.Application/CampaignContacts/Dto/GetCampaignContactDto.cs
  aspnet-core/src/CRM.Application/Clients/ClientAppService.cs
  aspnet-core/src/CRM.Application/Clients/Dto/ClientDto.cs
  aspnet-core/src/CRM.Application/Contacts/ContactAppService.cs
  aspnet-core/src/CRM.Application/Contacts/Dto/ViewContactDto.cs
  aspnet-core/src/CRM.Application/Contracts/ContractAppService.cs
  aspnet-core/src/CRM.Application/Contracts/Dto/ViewContractDto.cs
  aspnet-core/src/CRM.Application/Deals/DealAppService.cs
  aspnet-core/src/CRM.Application/Deals/Dto/ViewDealDto.cs
  aspnet-core/src/CRM.Application/EmailTemplates/Dto/EmailTemplateDto.cs
  aspnet-core/src/CRM.Application/EmailTemplates/EmailTemplateAppService.cs
  aspnet-core/src/CRM.Application/Invoices/Dto/InvoiceOutPut.cs
  aspnet-core/src/CRM.Application/Invoices/InvoiceAppService.cs
  aspnet-core/src/CRM.Application/Projects/Dto/ViewProjectDto.cs
  aspnet-core/src/CRM.Application/Projects/ProjectAppService.cs
  aspnet-core/src/CRM.Application/Roles/IRoleAppService.cs
  aspnet-core/src/CRM.Application/Roles/RoleAppService.cs
  aspnet-core/src/CRM.Core/Authorization/PermissionNames.cs
Due: azure-pipelines-be.yml

fix CI_CD
  .github/workflows/deploy_server_stg_fe.yml
  vue/src/views/home/home.vue
Due: azure-pipelines-fe.yml

up-test1
  azure-pipelines-fe.yml
Due: azure-pipelines-fe.yml

update test-key
  azure-pipelines-fe.yml
Due: azure-pipelines-fe.yml

update test-key
  .gitignore
  azure-pipelines-fe.yml
  config_aws.json
  config_connect_db_test.json
  config_git.json
  crm-test.key
Due: azure-pipelines-fe.yml
